@font-face {
   font-family: 'JosefinSans-SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/Arian/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-07-05_183614/fonts/JosefinSans-SemiBold/font.ttf');
}
